.grid {
  margin: 10px;
}

.row {
  display: flex;
}

.cell {
  width: 10px;
  height: 10px;
  margin: 1px;
  background-color: white;
  cursor: pointer;
}

.cell:hover {
  border-color: black;
  background-color: lightgray;
}

.cell.active {
  background-color: black;
}

.cell.active:hover {
  border-color: white;
  background-color: #444444;
}
